doctype
html
  head
    link(rel="stylesheet" href="main.css")
    link(href="https://fontastic.s3.amazonaws.com/BiuM9uaVEhvozhQpTxWeRG/icons.css" rel="stylesheet")
  body
    != yield

    script(src='js/lib/analytics.js')
    script(src='js/lib/jquery-2.1.4.min.js')
    script(src='js/app.js')
