div.main
	div.head: div.content.padding-1x.flex.flex-content-center.padding-1x
		div.flex-1
			h1 focus.business
			h3 Te ayudamos a invertir de forma más inteligente.
			br
			br
			form.flex.input-blend
				input(data-start-amount,type='number', min=5000, step=100, placeholder='¿Cuánto quieres invertir?').flex-1
				button(data-start-now).margin-bottom-1x Comienza ahora
			div.help Desde 5 mil pesos, ¡Conoce tus opciones de forma gratuita!
	div
		div.section: div.content.padding-1x.flex.flex-content-center
			div.padding-1x.flex-1
				h3 Crea tu perfil de inversor.
				div Dinos cuánto quieres invertir y bajo qué condiciones.
			div.graphick-block
				img(src='/assets/macbook.png')

		div.section: div.content.padding-1x.flex.flex-content-center
			table.simple-table.padding-right-3x
				thead
					td
					td Nombre
					td Plazo
					td Rendimiento
					td Riesgo
					td Tipo
				tr
					td 1
					td StartupWeekend
					td 6 meses
					td 3.52%
					td Medio
					td Negocio
				tr
					td 2
					td Santander
					td 6 meses
					td 1.52%
					td Bajo
					td Banco
				tr
					td 3
					td McDonalds
					td 6 meses
					td 1.63%
					td Bajo
					td Franquicia
				tr
					td 4
					td Yotepresto
					td 6 meses
					td 5.52%
					td Alto
					td Prestamos
				tr
					td 5
					td Banorte
					td 6 meses
					td 1.54%
					td Bajo
					td Banco
			div.flex-1.flex-column.txt-right.padding-1x
				h3 Conoce las opciones que preparamos.
				div Analizando tu perfil y objetivos, nuestro sistema te ofrece las mejores opciones para invertir.

		div.section: div.content.padding-1x.flex.flex-content-center
			div.flex-1.padding-1x
				h3 ¡Invierte en tu mejor opción!
				div ¿Te gustaron las opciones que te ofrecimos?
				div Pon tu dinero a trabajar para ti.
			div.graphick-block.padding-1x
				div.square
					div.circle-glow
						div.circle-glow.animation-delay-1
							div.circle-glow.animation-delay-2
								div.absolute-center.txt-xxl
									div.icon.icon-glow

		div.section.cta: div.content.padding-2x.flex-column.flex-content-center
			div.txt-center
				h1 ¿Te interesa?
				h3 Empieza a invertir de forma más inteligente.
				br
				form.flex.input-blend.margin-center
					input(data-start-amount,type='number', min=5000, step=100, placeholder='¿Cuánto quieres invertir?').flex-1
					button(data-start-now).margin-bottom-1x Comienza ahora
				br
				br
				br
