div.main
	div.head.-small: div.content.padding-1x.flex.flex-content-center.padding-1x
		div.flex-1
			h1 focus.business

	div.section
		div.section: div.content.padding-1x.flex.flex-content-center
			div.padding-1x.flex-1
				h3 Crea tu perfil de inversor.
				div Dinos cuánto quieres invertir y bajo qué condiciones.


